.header_banner {
  width: 100%;
  padding: 90px 0 90px 0;
  text-align: center;
  background-size: 100%;
}
.header_banner .header_img_logo {
  height: 200px;
  filter: drop-shadow(0 0 50px #3c59a5);
}

@media (max-width: 770px) {
  .header_banner {
    width: 100%;
    padding: 90px 0 20px 0;
  }
  .header_banner .header_img_logo {
    width: 50%;
    height: auto;
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  text-decoration: none;
}

img {
  width: auto;
  height: auto;
}

body {
  background-color: #121212;
}

body::-webkit-scrollbar {
  width: 20px;
}

body::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}

body::-webkit-scrollbar-thumb {
  background-color: #00eef6;
  border-radius: 20px;
  box-shadow: 0 0 3.5em #00eef6, inset 0 0 0.4em #000000;
}

.pokemons {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  padding: 0 35px;
  margin: 0 auto;
}
.pokemons .pokemons_div_card {
  display: flex;
  width: 24%;
  text-align: center;
  border-radius: 30px;
  margin: 1% 1%;
  padding-bottom: 25px;
  flex-direction: row;
  flex-wrap: wrap;
}
.pokemons .pokemons_div_card .pokemons_img_pokemon {
  height: auto;
  width: 100%;
  margin-bottom: 20px;
}
.pokemons .pokemons_div_card .pokemons_p_number {
  width: 100%;
  font-family: Calibri;
  font-weight: 100;
  font-size: 0.8em;
}
.pokemons .pokemons_div_card .pokemons_p_name {
  width: 100%;
  font-family: Calibri;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 1em;
  text-transform: uppercase;
  margin: 30px 0;
}
.pokemons .pokemons_div_card .flags {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0 5.5%;
}
.pokemons .pokemons_div_card .flags .pokemons_span_flag {
  width: 45%;
  font-family: Calibri;
  font-weight: 500;
  font-size: 0.8em;
  line-height: 1.5em;
  text-transform: uppercase;
  border-radius: 15px;
  padding: 10px 0;
  margin: 0 auto;
}
.pokemons .pokemons_div_card .stats {
  width: 85%;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-transform: uppercase;
  font-family: Calibri;
  font-size: 0.8em;
  border-radius: 15px;
  border: 4px solid;
  box-shadow: 0 0 0.3em, inset 0 0 0.3em;
  padding: 10px;
  margin: 25px auto 0 auto;
}
.pokemons .pokemons_div_card .stats .stats_p_stat {
  width: 70%;
  text-align: start;
  font-weight: 550;
}
.pokemons .pokemons_div_card .stats .stats_p_value {
  width: 30%;
  text-align: end;
  font-weight: 600;
}
.pokemons .pokemons_div_card:first-child,
.pokemons .pokemons_div_card:nth-child(1n) {
  margin-left: 0;
}
.pokemons .pokemons_div_card:nth-child(4n) {
  margin-right: 0;
}
.pokemons .pokemons_div_card:hover {
  transform: scale(1.05);
}

@media (max-width: 770px) {
  .pokemons {
    width: 100%;
    padding: 30px;
    margin: 0;
  }
  .pokemons .pokemons_div_card:first-child,
.pokemons .pokemons_div_card:nth-child(1n) {
    margin-left: 0;
  }
  .pokemons .pokemons_div_card:nth-child(2n) {
    margin-left: 1%;
    margin-right: 0;
  }
  .pokemons .pokemons_div_card {
    width: 49%;
    border: 2px solid;
  }
  .pokemons .pokemons_div_card .pokemons_p_number {
    font-size: 0.5em;
    font-weight: 300;
  }
  .pokemons .pokemons_div_card .pokemons_p_name {
    font-size: 0.6em;
    margin: 10px;
  }
  .pokemons .pokemons_div_card .flags .pokemons_span_flag {
    width: 100%;
    font-size: 0.5em;
    line-height: 0.8em;
    border: 2px solid;
  }
  .pokemons .pokemons_div_card .stats {
    border: 2px solid;
    font-size: 0.5em;
    margin-top: 10px;
  }
}
@keyframes slidein {
  0% {
    filter: drop-shadow(0 0 40px);
  }
  50% {
    filter: drop-shadow(0 0 10px);
  }
  100% {
    filter: drop-shadow(0 0 40px);
  }
}
.grass {
  border: #00ff08 4px solid;
  color: #00ff08;
  box-shadow: 0 0 1em #00ff08, inset 0 0 0.8em #00ff08;
}

.img-grass {
  filter: drop-shadow(0 0 50px #00ff08);
  animation-name: slidein;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.bug {
  border: #52b936 4px solid;
  color: #52b936;
  box-shadow: 0 0 1em #52b936, inset 0 0 0.8em #52b936;
}

.img-bug {
  filter: drop-shadow(0 0 50px #52b936);
  animation-name: slidein;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.electric {
  border: #f6fb00 4px solid;
  color: #f6fb00;
  box-shadow: 0 0 1em #f6fb00, inset 0 0 0.8em #f6fb00;
}

.img-electric {
  filter: drop-shadow(0 0 50px #f6fb00);
  animation-name: slidein;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.fighting {
  border: #cb0000 4px solid;
  color: #cb0000;
  box-shadow: 0 0 1em #cb0000, inset 0 0 0.8em #cb0000;
}

.img-fighting {
  filter: drop-shadow(0 0 50px #cb0000);
  animation-name: slidein;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.fire {
  border: #ff8400 4px solid;
  color: #ff8400;
  box-shadow: 0 0 1em #ff8400, inset 0 0 0.8em #ff8400;
}

.img-fire {
  filter: drop-shadow(0 0 50px #ff8400);
  animation-name: slidein;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.ground {
  border: #946300 4px solid;
  color: #946300;
  box-shadow: 0 0 1em #946300, inset 0 0 0.8em #946300;
}

.img-ground {
  filter: drop-shadow(0 0 50px #946300);
  animation-name: slidein;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.rock {
  border: #8d8e66 4px solid;
  color: #8d8e66;
  box-shadow: 0 0 1em #8d8e66, inset 0 0 0.8em #8d8e66;
}

.img-rock {
  filter: drop-shadow(0 0 50px #8d8e66);
  animation-name: slidein;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.normal {
  border: #848484 4px solid;
  color: #848484;
  box-shadow: 0 0 1em #848484, inset 0 0 0.8em #848484;
}

.img-normal {
  filter: drop-shadow(0 0 50px #848484);
  animation-name: slidein;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.poison {
  border: #9d00ff 4px solid;
  color: #9d00ff;
  box-shadow: 0 0 1em #9d00ff, inset 0 0 0.8em #9d00ff;
}

.img-poison {
  filter: drop-shadow(0 0 50px #9d00ff);
  animation-name: slidein;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.ghost {
  border: #692096 4px solid;
  color: #692096;
  box-shadow: 0 0 1em #692096, inset 0 0 0.8em #692096;
}

.img-ghost {
  filter: drop-shadow(0 0 50px #692096);
  animation-name: slidein;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.psychic {
  border: #cc6df5 4px solid;
  color: #cc6df5;
  box-shadow: 0 0 1em #cc6df5, inset 0 0 0.8em #cc6df5;
}

.img-psychic {
  filter: drop-shadow(0 0 50px #cc6df5);
  animation-name: slidein;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.fairy {
  border: #e2adf9 4px solid;
  color: #e2adf9;
  box-shadow: 0 0 1em #e2adf9, inset 0 0 0.8em #e2adf9;
}

.img-fairy {
  filter: drop-shadow(0 0 50px #e2adf9);
  animation-name: slidein;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.flying {
  border: #a1e5f6 4px solid;
  color: #a1e5f6;
  box-shadow: 0 0 1em #a1e5f6, inset 0 0 0.8em #a1e5f6;
}

.img-flying {
  filter: drop-shadow(0 0 50px #a1e5f6);
  animation-name: slidein;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.ice {
  border: #4adbff 4px solid;
  color: #4adbff;
  box-shadow: 0 0 1em #4adbff, inset 0 0 0.8em #4adbff;
}

.img-ice {
  filter: drop-shadow(0 0 50px #4adbff);
  animation-name: slidein;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.water {
  border: #00bfff 4px solid;
  color: #00bfff;
  box-shadow: 0 0 1em #00bfff, inset 0 0 0.8em #00bfff;
}

.img-water {
  filter: drop-shadow(0 0 50px #00bfff);
  animation-name: slidein;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.dragon {
  border: #006eff 4px solid;
  color: #006eff;
  box-shadow: 0 0 1em #006eff, inset 0 0 0.8em #006eff;
}

.img-dragon {
  filter: drop-shadow(0 0 50px #006eff);
  animation-name: slidein;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.dark {
  border: #2c343f 4px solid;
  color: #2c343f;
  box-shadow: 0 0 1em #2c343f, inset 0 0 0.8em #2c343f;
}

.img-dark {
  filter: drop-shadow(0 0 50px #2c343f);
  animation-name: slidein;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.steel {
  border: #565d66 4px solid;
  color: #565d66;
  box-shadow: 0 0 1em #565d66, inset 0 0 0.8em #565d66;
}

.img-steel {
  filter: drop-shadow(0 0 50px #565d66);
  animation-name: slidein;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.footer {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 655px;
  margin: 50px auto 0 auto;
  padding: 40px 0 0 0;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.footer .footer_img_logo {
  height: 100px;
  margin-left: 0;
  margin-bottom: 40px;
}
.footer .footer_ul_media {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
}
.footer .footer_ul_media li {
  list-style: none;
  text-decoration: none;
  margin: 0 20px;
}
.footer .footer_ul_media li a {
  display: block;
  padding: 15px;
  background-color: rgb(243, 243, 243);
  box-shadow: 0 0 0.5em #ffffff, inset 0 0 1em #ffffff;
  border-radius: 50%;
}
.footer .footer_ul_media li a img {
  display: block;
  height: 40px;
}
.footer .footer_div_copy {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
.footer .footer_div_copy .footer_p_copy {
  color: #fff;
  font-family: Calibri;
  padding: 10px;
}

.footer::before {
  content: "";
  width: 100%;
  height: 7px;
  position: absolute;
  background-color: rgb(243, 243, 243);
  box-shadow: 0 0 0.5em #ffffff, inset 0 0 1em #ffffff;
  margin: -45px 0;
}

@media (max-width: 770px) {
  .footer {
    width: 100%;
    max-width: none;
    flex-direction: column;
    background-color: black;
    margin: 0;
  }
  .footer .footer_img_logo {
    width: 200px;
    height: auto;
    margin: 0 auto 20px auto;
  }
  .footer .footer_ul_media li a img {
    height: 30px;
  }
  .footer::before {
    top: 40px;
    width: 100%;
    height: 2px;
  }
}